<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="false" android:usesCleartextTraffic="false" android:theme="@style/Theme.FamilyBase" android:label="Family Base" android:icon="@drawable/family_base_logo" android:roundIcon="@drawable/family_base_logo">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <receiver android:name=".widget.ShoppingWidgetReceiver" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/shopping_widget_info"/></receiver>
        <receiver android:name=".widget.TodoWidgetReceiver" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/todo_widget_info"/></receiver>
        <receiver android:name=".widget.ChoreWidgetReceiver" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/chore_widget_info"/></receiver>
    </application>
</manifest>
